extend site-layout.extend
block head
  link(rel="stylesheet" type="text/css" href="special-contact-form.css")
  style.
    .no-visibility {visibility:hidden}
    .special-contact-form {opacity: 0.5}
    .notice {padding: 20px; background: #fee3ab; }
    dt { font-weight: bold; }
  title MOState ACM - Documents

block body
  .text-center
    h2 Documents
  .text-center
    h2 Workshop Presentations
  dl
    dt September 3rd, 2015
    dd
      a(href="presentations/mostateacm-workshop-2015-09-03.pdf") Github Workshop PDF
      | ,&nbsp;
      a(href="https://youtu.be/ZYSVmxj4heY" alt="Github Workshop video") Youtube Video
      br
      span Presented by Cole Lawrence of MOState ACM
  dl
    dt October 1st, 2015
    dd
      a(href="presentations/mostateacm-workshop-2015-10-01.pdf") Standing Out: Resume and Interview Workshop PDF
      | ,&nbsp;
      a(href="https://youtu.be/Q6pWY_gJ1Zc" alt="Standing Out: Resume and Interview Workshop video") Youtube Video
      br
      span Presented by Autumn Rodden and Nicholas Jaross of <a href="https://www.facebook.com/oreillycareers">O'Reilly Auto Parts</a>
  dl
    dt October 15th, 2015
    dd
      a(href="presentations/mostateacm-workshop-2015-10-15.pdf") Web Development Now
      br
      span Presented by Cole Lawrence of MOState ACM
  dl
    dt October 29th, 2015
    dd
      a(href="presentations/mostateacm-workshop-2015-10-29.pdf") A Day in the <em>Project</em> Life<em>cycle</em>
      br
      span Presented by Maranda Reynolds of <a href="http://mostlyserious.io/about-us/">Mostly Serious</a>
